html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

a {
    color: 36c;
}

:not(a:hover) {
    text-decoration: none;
}

.header {
    background-color: #eaecf0;
    padding: 12px 24px;
}

.header-content {
    max-width: 40em;
    margin: 0 auto;
}

.logo-figure {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
}

.logo-name {
    margin: 0 12px;
    font-size: 35px;
}

.footer {
    background-color: #eaecf0;
    text-align: center;
    padding: 12px;
}