.form-user {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.form-user input, .form-user textarea {
    width: 97.33%;
    border: none;
    background-color: lightgray;
    border-radius: 4px;
    padding: 5px;
}

.form-user input:focus, .form-user textarea:focus {
    outline-style: none;
}

.form-user input {
    height: 30px;
}

.form-user button {
    height: 30px;
    border-radius: 4px;
    background-color: rgba(123, 227, 123, 0.8);
    border-style: none;
}

.form-user button:hover {
    background-color: rgb(123,190,123);
    transition: .4s;
    
}

.mail-user {
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding: 5px;
    border-radius: 4px;
}

.mail-user img {
    height: 25px;
    width: 25px;
}

